.blck{
background-color: black;
}
.wht{
	background-color:white;
}
body{
	background-color:black;
}
.whitecolor{
	color:white;
}
.grey{
	background-color:#595353;
}
h1{
	text-align:center;
}
.bluecolor{
	background-color:lightblue;
}